name: MLFlow-CI

on:
  push:
    branches: [ main ]

jobs:
  mlflow:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ""
          auto-update-conda: true
          python-version: "3.9"

      - name: Install dependencies
        run: conda install pip

      - name: Run MLFlow
        run: mlflow run MLProject
name: MLFlow-CI

on:
  push:
    branches: [ main ]

jobs:
  mlflow:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ""
          auto-update-conda: true
          python-version: "3.9"

      - name: Install dependencies
        run: conda install pip

      - name: Run MLFlow
        run: mlflow run MLProject
