name: CI - Train Model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v4
      with:
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml
        python-version: 3.10

    - name: Install pip dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy dagshub

    - name: Run MLflow Project
      run: |
        mlflow run MLProject

    - name: Upload Model Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: mlruns/
